* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.top-banner h1 {
    color:#3E3DF3;
    font-weight:bold;
}
.banner-button h6{
    margin:0;
    font-size:10px;
    text-transform:uppercase;
}
.banner-button h4 {
    margin:0;
    font-size:20px;
}
.gradient {
    background:linear-gradient(90deg, #3E3DF3, #9B32EE);
    text-align:center;
}